{% extends "layout.html" %} <!-- Extending the layout template so we don't repeat the same HTML structure -->
{% block content %} <!-- Start of content block to override the parent template's content block -->
{% for post in posts %}  <!-- Loop through each post in the posts list . this adds dynamic content -->
    <div class="post"> 
        <h2>{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <p>{{ post.author }}</p>
        <small>Posted on {{ post.date_posted }}</small>
    </div>
    <hr>
{% endfor %}
{% endblock %} 
<!-- This template displays a list of blog posts dynamically using Jinja2 templating syntax. Each post's title, content, author, and date posted are rendered within the HTML structure using for loop --></html>